<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="auto">

    <uses-feature android:name="android.hardware.vr.headtracking" android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="DeadEasy Player"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/network_security_config">
        
        <meta-data android:name="com.oculus.vr.focusaware" android:value="true" />

        <activity
            android:name=".DeadEasyPlayerActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode|density"
            android:launchMode="standard"
            android:resizeableActivity="true">

            <layout android:defaultWidth="1280dp" android:defaultHeight="720dp" android:gravity="center" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                
            </intent-filter>

            <layout android:defaultWidth="1280dp" android:defaultHeight="720dp" android:gravity="center" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="video/*" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
    </application>
</manifest>